* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #555;
    text-decoration: none;
}

span {
    margin: 5px;
}

p {
    margin: 5px;
}

a[href^="//"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after {
    background: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png) center right no-repeat;
    color: #555;
    padding-right: 10px;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

button:hover {
    background-image: linear-gradient(
            to right,
            #E7484F,
            #F68B1D,
            #FCED00,
            #009E4F,
            #00AAC3,
            #732982
    );
    animation: slidebg 2s linear infinite;
}

button {
    background: #88d8b0;
    border: solid #ffeead .1em;
    border-radius: 5px;
    font-size: 3em;
}

.container {
    height: 100vh;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto 40px;
    text-align: center;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffeead;
}

.container > div:nth-child(1n) {
    background-color: #96ceb4;
}

.container > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container > div:nth-child(2n) {
    background-color: #ff6f69;
}

.container > div:nth-child(4n) {
    background-color: #ffcc5c;
}

.content {
    flex-direction: column;
    font-size: 1.5em;
}

.header {
    display: flex;
    font-size: 2em;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.footer {
    display: flex;
}

.movies-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background: white;
}

.movies-container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: .5em;
    padding: 5px;
}

.movie-item {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: solid;
    align-content: center;
    text-align: center;
    background: #ff6f69;
}

.movie-title {
    color: #555;
}

.movie-title > h2 {
    border-bottom: solid .2em;
}

.movie-trivia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-trivia > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.movie-cast {
    display: flex;
    font-size: 1.2em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.movie-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    border-top: solid .3em;
}